GLM_API_KEY=sk-sW3zHOuggnDs2xT4-yK-Cw
GLM_API_BASE_URL=http://149.232.135.126:4000/v1
GLM_MODEL=glm-5.2
GLM_TIMEOUT=30
GLM_MAX_RETRIES=3
GLM_TEMPERATURE=0.1
GLM_MAX_TOKENS=1024
ABSTENTION_THRESHOLD=0.60
MAJOR_INCIDENT_MIN_TICKETS=5
MAJOR_INCIDENT_WINDOW_MINUTES=10
MAX_CONCURRENCY=5
RATE_LIMIT_RPS=2.0
